<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>查找</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='icon1.png') }}" rel="icon">
</head>
<body>
<div class="main">
    <div class="contain">
        <h1 class="normal">查找组</h1>
        <div class="message">
            <p class="normal">请输入您要查找的组ID</p>
            <p class="normal">没有组？<a class="normal" href="{{ url_for('create_group') }}">点此创建组</a>。</p>
        </div>
    </div>
    <form class="contain" action="{{ url_for('search_group') }}" method="post">
        <div class="login_form">
            组ID<br>
            <input type="text" title="请输入您要查找的组ID" name="groupId" required>
            <p style="color: red;font-size: 15px;">
                {% if unsigned=='unsigned' %}
                    该组ID还未被注册，您可以<a class="normal" href="{{ url_for('create_group') }}">现在创建组</a>
                {% endif %}
            </p>
        </div>
        <div class="login_form">
            <input class="submit" type="submit" value="查找" name="submit">
        </div>
    </form>
</div>
</body>
</html>